.albums-container {
    background-color: #1B4242;
    padding: 30px;
    border-radius: 1rem;
}

.search-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    flex-wrap: wrap;
    background-color: #1B4242;
    border-radius: 5px;
    gap: 10px; /* Added gap for better spacing */
}

.search-section input::placeholder,
.search-section select,
.search-section input {
    margin-right: 10px;
    padding: 10px;
    flex: 1;
    min-width: 210px;
    box-sizing: border-box;
    background-color: #5C8374;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: left;
}

.album-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.album-cell {
    background-color: #5C8374;
    padding: 25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    text-align: center; /* Center align text in album cell */
}

.album-cell img {
    width: 100%;
    max-width: 150px;
    height: auto;
    margin-bottom: 10px;
}

.album-info-box {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align items in the box */
}

.album-info,
.album-rating {
    width: 100%;
    max-width: 150px;
    background-color: #2F4F4F;
    border-radius: 4px;
    color: white;
    padding: 5px;
    margin: 5px 0;
    text-align: center;
    box-sizing: border-box;
}

.album-info:hover {
    cursor: pointer;
    background-color: #1B4242;
}

.album-rating {
    pointer-events: none;
}

.rate-button {
    background-color: #2F4F4F;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.rate-button:hover {
    cursor: pointer;
    background-color: #1B4242;
}

#album-rating {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

.rating-overlay {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 50px;
    margin-left: auto;
}

#average-rating {
    color: white;
    padding: 5px;
    font-size: 0.9em;
    border-radius: 5px;
    text-align: left;
}

.rating-box {
    background-color: #5C8374;
    min-width: 200px;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
