body {
    font-family: Arial, sans-serif;
}

.container {
    padding: 20px;
}

#openPopupBtn {
    padding: 10px 20px;
    background-color: #5C8374;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background-color: #5C8374;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    text-align: center;  /* Center the text inside the popup */
}

.popup-content h2 {
    color: white;
    margin: 0 auto 20px; /* Center the heading */
}

.popup-content label {
    color: white;
    display: block;
    margin: 10px 0 5px;
    text-align: left; /* Ensure labels are left-aligned */
}

.popup-content input[type="text"],
.popup-content input[type="number"],
.popup-content textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #1B4242;
    box-sizing: border-box;
    background-color: #1B4242;
    color: white;
}

.popup-content textarea {
    resize: none;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Adjust spacing */
}

.form-buttons button {
    padding: 12px 24px; /* Increased padding for larger buttons */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #1B4242;
    color: white;
}

.form-buttons button[type="submit"] {
    background-color: #1B4242;
    color: white;
}

.form-buttons button[type="button"] {
    background-color: #1B4242;
    color: white;
}

.form-buttons button:hover,
.form-buttons button[type="button"]:hover {
    background-color: #3c6b6b;
}

/* Styling for the small initial popup */
#initialPopup .popup-content {
    max-width: 300px;
}

#initialPopup .popup-content button {
    width: 100%;
    margin-top: 10px;
    background-color: #1B4242;
    color: white;
}

#initialPopup .form-buttons {
    display: flex;
    flex-direction: column; /* Align buttons in a column */
    margin-top: 20px; /* Adjust spacing */
}

#initialPopup .form-buttons button {
    padding: 12px 24px; /* Adjust padding as needed */
    border-radius: 5px;
    cursor: pointer;
    background-color: #1B4242;
    color: white;
    margin-bottom: 10px; /* Add bottom margin for spacing */
}

#initialPopup .form-buttons button:last-child {
    margin-bottom: 0; /* Remove bottom margin for the last button */
}

#initialPopup .form-buttons button:hover {
    background-color: #3c6b6b;
}

.popup.active {
    display: flex;
}



